@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
/*font-family: 'Barlow', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap');
/*font-family: 'Inter', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');
/*font-family: 'Playfair Display', serif;*/

body {
	min-width: 1440px;
	background-color: ##E5E5E5;
	color: #2F2E2E;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
h1,h2,h3,p {
	margin: 0;
	padding: 0;
}
h2 {
	font-family: 'Playfair Display', serif;
	font-size: 51px;
	line-height: 60px;
	font-weight: 900;
}
a {
	color: #2F2E2E;
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	width: 100%;
	height: 100%;
}
.container {
	width: 1245px;
	padding: 0 10px;
	margin: 0 auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}



.header {}
.container {}
.nav {
	display: flex;
	justify-content: space-between;
	margin: 95px 0px 95px 50px;
}
.nav-title {
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	font-size: 42px;
	line-height: 50px;
	flex: 1;
}
.nav-site {
	display: flex;
 	flex-wrap: wrap;
	font-size: 20px;
	line-height: 24px;
	font-family: 'Inter', sans-serif;
	margin-right: auto;
	margin-top: 20px;
}
.nav-site-item-current {
	font-weight: 700;
}
.nav-site-item {
	margin-right: 107px;
}
.nav-site-item:last-child {
	margin-right: 40px;
}
.nav-site-item:hover {
	opacity: 0.5;
	transition: opacity .55s ease;
}
.nav-site-item-current:hover {
	opacity: 1;
}
.nav-site-search {
	margin-top: 5px;
}
.nav-site-search-inner {
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	margin-right: -65px;
}
.nav-site-search-inner input#search {
	width: 50px;
	height: 50px;
	border: none;
	font-size: 16px;
	float: right;
	color: #2F2E2E;
	padding-left: 55px;

	-webkit-transition: width .55s ease;
	-moz-transition: width .55s ease;
	-ms-transition: width .55s ease;
	-o-transition: width .55s ease;
	transition: width .55s ease;
}
.nav-site-search-inner input#search::-webkit-input-placeholder {
	color: #2F2E2E;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}
 
.nav-site-search-inner input#search:-moz-placeholder { /* Firefox 18- */
	color: #2F2E2E;
	font-family: 'Inter', sans-serif;
	font-size: 16px;  
}
 
.nav-site-search-inner input#search::-moz-placeholder {  /* Firefox 19+ */
	color: #2F2E2E;
	font-family: 'Inter', sans-serif; 
	font-size: 16px; 
}
 
.nav-site-search-inner input#search:-ms-input-placeholder {  
	color: #2F2E2E;
	font-family: 'Inter', sans-serif;  
	font-size: 16px;
}
.nav-site-search-inner .icon {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-left: 10px;
	margin-top: 15px;
	z-index: 1;
	cursor: pointer;
}
.nav-site-search-inner input#search:focus, 
.nav-site-search-inner input#search:active {
	outline: none;
	border-bottom: 1px solid #000;
	width: 300px;
}
 
.nav-site-search-inner:hover input#search {
	width: 300px;
}
.nav-site-search-inner:hover .icon {
	color: #93a2ad;
}


.sliders {
	margin-bottom: -5.5px;
}
.container-slidshow {
	width: 1440px;
	padding: 0;
	margin: 0 auto;
	position: relative;
}
.mySlides {
	display: flex;
	position: relative;
	display: none;
}
.slider-info {
	position: absolute;
	top: 10%;
	background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
	padding: 155px 148px 142px 150px;
	width: 445px;
	z-index: 1;
}
.slider-info h2 {
	margin-bottom: 15px;
	line-height: 66px;
}
.slider-info p {
	font-family: 'Inter', sans-serif;
	font-weight: 200;
	font-size: 32px;
	line-height: 45px;
}
.mySlides img {
	margin-left: 25%;
	width: 1150px;
	height: 739px;

}
.prev svg,
.next svg {
 	position: absolute;
 	cursor: pointer;
 	padding: 24px 32px;
 	user-select: none;
 	width: 23px;
 	height: 24px;
 	background: rgba(244, 246, 245, 0.7);
 	bottom: 6px;
 	transition: 0.55s ease;
 }
 .prev svg {
 	right: 17px;
 }
 .next svg {
 	right: -70px;
 }
.prev svg:hover,
.next svg:hover {
	background: rgba(244, 246, 245, 1);
 }
.prev:focus svg,
.next:focus svg{
	outline: 2px solid #000;
 }
 .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.services {
	background: rgba(37, 77, 77, 0.2);
	margin-bottom: 76px;
	padding-top: 15px;
}
.container-services {
	width: 1440px;
	padding-left: 120px;
}
.services-inner {}
.service-title {
	text-align: center;
	margin: 0px 0 45px 0;
}
.service-list {
	display: flex;
	justify-content: space-around;
}
.service-list-item {
	text-align: center;
	width: 158px;
	margin-bottom: 65px;
}
.service-list-item img {
	width: 103px;
	height: 103px;
}
.service-list-item h3 {
	font-size: 27px;
	line-height: 32px;
	margin-bottom: 9px;
}
.service-list-item p {
	line-height: 19px;
}





.about-us {
	margin-bottom: 100px;
}
.container-about-us {
	width: 1276px;
	padding-left: 150px;
}
.about-us-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about-us-wrapper img {
	width: 735px;
	height: 571px;
}
.about-us-info {
	width: 456px;
	margin-bottom: 15px;
}
.about-us-info h2 {
	margin-bottom: 27px;
}
.about-us-info p {
	font-size: 31px;
	line-height: 50px;
	margin-bottom: 30px;
}
.about-us-info a:hover {
	opacity: 0.5;
	transition: opacity .55s ease;
}
.about-us-info b {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}








.projects {
	margin-left: 70px;
	margin-bottom: 	95px;
}
.container-project {
	width: 1240px;
}
.projects-fillters {
	display: flex;
	justify-content: space-between;
	border: none;
	margin-bottom: 71px;
	align-items: center;
}
.projects-fillters ul {
	display: flex;
}
.projects-fillters li {
	margin-right: 105px;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	line-height: 24px;
}
.projects-fillters li:last-child {
	margin-right: 0;
}
.filter-option label {
	display: block;
	cursor: pointer;
	user-select: none;
}
.filter-input-radio {
	display: none;
}
.filter-input-radio:hover + label {
	opacity: 0.5;
}
.filter-input-radio:checked + label {
	font-weight: 900;
	cursor: default;
	opacity: 1;
}
.projects-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.projects-gallery-item {
	margin-bottom: 90px;
	margin-right: 104px;
}
.projects-gallery-item:nth-child(3n) {
	margin-right: 0;
}
.projects-gallery-item:nth-child(4),
.projects-gallery-item:nth-child(5),
.projects-gallery-item:nth-child(6) {
	margin-bottom: 0;			
}
.projects-gallery-item a {
	width: 344px;
	display: block;
}
.projects-gallery-item img {
	width: 344px;
	height: 193px;
	margin-bottom: 8px;
}
.projects-gallery-item p {
	text-align: center;
	font-size: 18px;
	line-height: 21px;
	width: 176px;
	margin: 0 auto;
}







.testimonial {
	margin-left: 90px;
	margin-bottom: 150px;	
}
.container-testimonial {}
.testimonial-title {
	text-align: center;	
	margin-bottom: 78px;

}
.testimonial-wrapper {
	display: flex;	
	justify-content: space-between;	
}
.testimonial-item {
	display: flex;		
	align-items: center;	
	width: 543px;	
}
.testimonial-item img  {
	width: 151px;	
	height: 151px;	
	margin-right: 28px;	
}
.testimonial-item b {
	display: block;	
	font-size: 28px;	
	line-height: 33px;	
	margin-bottom: 16px;	
}
.testimonial-item p {
	font-size: 17px;	
	line-height: 20px;	
	width: 307px;	
}
.testimonial-info {}










.footer {
	background: #2E2F32;
	color: #fafafa;
	font-family: 'Inter', sans-serif;
	padding-left: 80px;
}
.container-footer {
	width: 1241px;
}
.footer a {
	color: #fafafa;
}
.footer h2 {
	font-weight: 600;
	font-size: 42px;
	line-height: 50px;
	font-family: 'Barlow', sans-serif;
	margin-bottom: 7px;
}
.footer h3 {
	font-weight: 900;
	font-size: 24px;
	line-height: 50px;
	margin-bottom: 7px;
}
.footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 47px;
	padding-bottom: 45px;
}
.social {
	width: 285px;
	align-self: ;
}
.social p {
	font-size: 17px;
	line-height: 29px;
	margin-bottom: 45px;
}
.social-list {
	display: flex;
}
.social-list-item {
	margin-right: 36px;
/*	width: 24px;
	height: 24px;
	background-color: transparent;*/
}
.social-list-item:last-child {
	margin-right: 0;
}
.social-list-item:hover path {
	fill: #000;
}
.social-list-item a:focus path {
	fill: #000;
}
.articles {
	width: 201px;
}
.articles p {
	font-size: 17px;
	line-height: 21px;
}
.links {
	width: 65px;
}
.links li {
	font-size: 17px;
	line-height: 21px;
	margin-bottom: 10px;
}
.map {
	width: 295px;
}
.map img {
	width: 295px;
	height: 221px;
	box-shadow: 1px 5px 15px #000;
}
.map img:hover,
.map img:focus {
	box-shadow: 5px 5px 15px #000;
}